.nav {
 font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
 font-size: 1em;
 background-color: #7d4ba3;
 color: #ffffff;
 
}

#menubar {
 width: 70%;
}

#siteName {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 2.3em;
  color: #ffffff;
}


#dashboard {
  width: 70%;
}

.btn-link {
  color: #ffffff;
}

#tip {
	font-family: Verdana, sans-serif;
	font-size: 1em;
}

#John {
	width: 40%;
}

#YourContacts {
	padding-bottom: 1.35em;
}

#contacts {
	background-color: #f7f7f7;
	
}
