.nav {
 font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
 font-size: 1em;
 background-color: #7d4ba3;
 color: #ffffff;
}

#siteName {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 2.3em;
  color: #ffffff;
}


#dashboard {
  width: 70%;
}

.btn-link {
  color: #ffffff;
}
