.nav {
 background-color: #7d4ba3;
 color: #ffffff;
}

#siteName {
  font-family: Verdana, sans-serif;
  font-size: 2em;
  color: #ffffff;
}


#dashboard {
  width: 70%;
}

.btn-link {
  color: #ffffff;
}
